@import "../../scss/variables";

.projects-section {
  background: rgba($secondary-color, 0.6);
  padding: 4rem 2rem;

  header {
    margin: 1rem 0;
    h2 {
      text-transform: capitalize;
      font-weight: 300;
    }

    p {
      margin-top: 1.5rem;
    }
  }

  &__highlighter {
    margin: 0.5rem 0;
    width: 280px;
  }

  &__project-intro {
    margin: 0.5rem auto;
    max-width: 1250px;
  }

  &__projects-container {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1170px;
    margin: 2rem auto;
  }
}
