.hero-section {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
    url("../../../assets/images/pexels-junior-teixeira-2047905.jpg")
      center/cover no-repeat;
  height: 100vh;
  padding: 31vh 0.5rem 0;
}

.hero-header {
  text-align: center;
}

.hero-content {
  margin: 0.5rem;
}

.hero-content h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ccc;
}

.hero-content p {
  margin-top: 1rem;
  color: #ccc;
  font-size: 1rem;
}

.confucius {
  font-weight: bold;
}

.logo-holder {
  width: 150px;
  margin: 0 auto;
}

.arrow-holder {
  width: 50px;
  margin: 1rem auto;
}

.arrow-down {
  color: white;
  font-size: 2rem;
  animation: updown 2s ease infinite;
}

.arrow-down:hover {
  color: rgb(250, 90, 223);
}

@media (min-width: 600px) {
  .hero-section {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
      url("../../../assets/images/pexels-rostislav-uzunov-5011647.jpg")
        center/cover no-repeat;
  }

  .hero-content p {
    margin-top: 1rem;
    color: #ccc;
    font-size: 1.5rem;
    line-height: 1.4rem;
  }
}

@media (min-width: 890px) {
  .logo-holder {
    width: 100%;
    margin-left: 0.5rem;
    margin-bottom: 3rem;
  }

  .hero-content h2 {
    font-size: 2rem;
    color: white;
  }

  .hero-content p {
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .hero-content-container {
    display: flex;
    justify-content: space-around;
    max-width: 1090px;
    margin: 0 auto;
  }

  .hero-header {
    text-align: left;
  }

  .arrow-holder {
    width: 50px;
    margin: 6rem auto;
  }
}

/* animation  */

@keyframes updown {
  0% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-20%);
  }
}
