@import "../../../scss/variables";

.card {
  background: $card-color;
  box-shadow: 0 5px 15px rgba($black-color, 0.2);
  z-index: 99;
  margin-bottom: 2rem;

  &__project-content {
    padding: 0.3rem;

    .image-container {
      position: relative;

      &__project-image {
        height: 15rem;
        border-bottom: 1px solid $black-color;
      }

      &__tech-stack {
        position: absolute;
        background: rgba($black-color, 0.7);
        padding: 0.3rem 0.5rem;
        color: $primary-color;
        top: 70%;
        left: 0;
        width: 120px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        h3 {
          font-weight: bold;
          margin-bottom: 0.2rem;
        }

        .react-icon {
          font-size: 1.2rem;
          color: rgb(4, 236, 225);
        }

        .css-icon {
          font-size: 1.2rem;
          color: rgb(0, 122, 221);
        }

        .html-icon {
          font-size: 1.2rem;
          color: rgb(243, 7, 7);
        }

        .js-icon {
          font-size: 1.2rem;
          color: rgb(233, 210, 4);
        }

        .nodejs-icon {
          font-size: 1.2rem;
          color: white;
        }
      }
    }
  }

  &__info-container {
    padding: 1rem 2rem;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.8rem;
    }

    .card-description {
      height: 280px;
    }

    .learn-more-holder {
      margin-top: 0.4rem;
      text-transform: capitalize;
      text-align: right;

      &__learn-more {
        color: $secondary-icon-brand-color;

        &:hover {
          color: $primary-brand-color;
          text-decoration: underline;
        }
      }
    }
  }

  &__project-links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;

    a {
      text-transform: capitalize;
      line-height: 23px;
      background: #5bc0de;
      padding: 0.3rem 0.5rem;
      margin: 0.2rem auto;
      color: $card-color;
      border-radius: 5px;
      height: 30px;
      transition: all 0.5s linear;

      &:hover {
        background: $card-color;
        color: #5bc0de;
        padding: 0.3rem 0.5rem;
        border: 1px solid #5bc0de;
      }
    }
  }
}
