.card {
  background: #ffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 99;
  margin-bottom: 2rem;
}

.drop-selector {
  position: absolute;
  height: 100vh;
  width: 100vh;
}

img {
  height: 15rem;
}

.image-container {
  position: relative;
}

.tech-stack {
  position: absolute;
  background: rgba(65, 65, 65, 0.979);
  padding: 0.3rem 0.5rem;
  color: white;
  top: 70%;
  left: 0;
  width: 120px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tech-stack h3 {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.card-info-container {
  padding: 1rem 2rem;
}

.card-info-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-description {
  height: 280px;
}

.card-description p {
  font-size: 0.8rem;
}

.project-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

.project-links-container a {
  text-transform: capitalize;
  background: #5bc0de;
  padding: 0.3rem 0.5rem;
  margin: 0.2rem auto;
  color: #ffff;
  border-radius: 5px;
  height: 30px;
  transition: all 0.5s linear;
}

.project-links-container a:hover {
  background: #ffff;
  color: #5bc0de;
  padding: 0.3rem 0.5rem;
  border: 1px solid #5bc0de;
}

.learn-more-holder {
  margin-top: 0.4rem;
  text-transform: capitalize;
  text-align: right;
}

.learn-more {
  color: rgb(155, 50, 137);
}

.learn-more:hover {
  color: rgb(250, 90, 223);
  text-decoration: underline;
}

/* icons */

.react-icon {
  font-size: 1.2rem;
  color: rgb(4, 236, 225);
}

.css-icon {
  font-size: 1.2rem;
  color: rgb(0, 122, 221);
}

.html-icon {
  font-size: 1.2rem;
  color: rgb(243, 7, 7);
}

.js-icon {
  font-size: 1.2rem;
  color: rgb(233, 210, 4);
}

.nodejs-icon {
  font-size: 1.2rem;
  color: white;
}
