.logo {
  display: flex;
  text-transform: uppercase;
}

.cs-title {
  color: rgb(250, 90, 223);
  border-right: 2px solid rgb(250, 90, 223);
  padding-right: 0.3rem;
  margin-right: 0.3rem;
}

.technologies-title {
  color: white;
}

@media (min-width: 600px) {
  .logo {
    margin: 0.2rem 0;
  }
  .cs-title {
    padding-top: 0.5rem;
    padding-right: 0.3rem;
    margin-right: 0.3rem;
  }
  .technologies-title {
    padding-top: 0.5rem;
    color: white;
  }
}
