.toolbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.61);
  padding: 1rem 1.5rem;
  border-bottom: 2px solid rgb(250, 90, 223);
  min-width: 400px;
  z-index: 100;
}

.menu-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s linear;
}

.menu-icon:hover {
  transform: scale(1.2);
}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }
  .toolbar {
    padding: 0 2rem;
  }
}
