.about-section {
  text-align: center;
}

.about-section h2 {
  text-transform: capitalize;
  font-weight: 300;
}

.about-section p {
  text-transform: capitalize;
  font-weight: 300;
}

.underline {
  width: 11rem;
  height: 0.25rem;
  margin: 0.5rem auto 2rem auto;
  background: rgb(0, 122, 221);
}

.skills-holder {
  margin-top: 2rem;
}

.skills-icons-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.language-skill {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}

.css-about {
  font-size: 2rem;
  color: rgb(0, 122, 221);
}

.react-about {
  font-size: 2rem;
  color: rgb(4, 236, 225);
}

.html-about {
  font-size: 2rem;
  color: rgb(243, 7, 7);
}

.javaScritps-about {
  font-size: 2rem;
  color: rgb(233, 210, 4);
}

.faSitemaps-about {
  font-size: 1.6rem;
  color: black;
}

.learn-more-btn-holder {
  padding: 2rem 0;
}

.learn-more-btn {
  text-transform: uppercase;
  color: rgb(250, 90, 223);
}

.learn-more-btn:hover {
  color: rgb(250, 90, 223);
  text-decoration: underline;
}

@media (min-width: 890px) {
  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-content-holder {
    padding: 2rem;
    min-width: 400px;
  }

  .skills-holder {
    margin-top: 5rem;
    padding: 2rem 2rem;
    width: 600px;
  }

  .skills-icons-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }
}
