* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: sans-serif;
  min-width: 410px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-size: 2rem;
}

p {
  line-height: 1.5rem;
}

img {
  width: 100%;
  display: block;
}

.section-center {
  padding: 3rem 2rem;
  max-width: 1180px;
  margin: 0 auto;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: none;
  border-bottom: 1px solid rgb(0, 122, 221);
  margin: 1em auto;
  width: 50%;
}
