* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: sans-serif;
  min-width: 410px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}
